/* line 4, /home/ken/fast-racquet/app/assets/stylesheets/static_pages.scss */
.signup-button {
  padding: 0px;
  color: darkorange;
  font-size: 20px;
}

/* line 10, /home/ken/fast-racquet/app/assets/stylesheets/static_pages.scss */
.signup-promo {
  font-size: 20px;
  background-color: lightyellow;
  border-bottom: darkorange 2px solid;
}

/* line 17, /home/ken/fast-racquet/app/assets/stylesheets/static_pages.scss */
.welcome-instructions {
  text-decoration: underline;
}

/* line 21, /home/ken/fast-racquet/app/assets/stylesheets/static_pages.scss */
.input-group {
  margin-bottom: 13px;
}

/* line 25, /home/ken/fast-racquet/app/assets/stylesheets/static_pages.scss */
.errors {
  color: darkred;
}

/* line 29, /home/ken/fast-racquet/app/assets/stylesheets/static_pages.scss */
.imgstruction {
  color: dodgerblue;
}

/* line 33, /home/ken/fast-racquet/app/assets/stylesheets/static_pages.scss */
.header-i {
  color: dodgerblue;
}

/* line 37, /home/ken/fast-racquet/app/assets/stylesheets/static_pages.scss */
.row {
  margin-right: 0px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

