// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-button {
  padding: 0px;
  color: darkorange;
  font-size: 20px;
}

.signup-promo {
  font-size: 20px;
  background-color: lightyellow;
  border-bottom: darkorange 2px solid;
}


.welcome-instructions {
  text-decoration: underline;
}

.input-group {
  margin-bottom: 13px;
}

.errors {
  color: darkred;
}

.imgstruction {
  color: dodgerblue;
}

.header-i {
  color: dodgerblue;
}

.row {
  margin-right: 0px;
}
