// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-button {
  padding: 0px;
  color: darkorange;
}

.signup-promo {

  background-color: lightyellow;
  border-bottom: darkorange 2px solid;
}


.welcome-instructions {
  text-decoration: underline;
}
