// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-button {
  padding: 0px;
  color: darkorange;
  font-size: 20px;
}

.signup-promo {
  font-size: 20px;
  background-color: lightyellow;
  border-bottom: darkorange 2px solid;
}


.welcome-instructions {
  text-decoration: underline;
}

.input-group {
  margin-bottom: 13px;
}

.errors {
  color: darkred;
}

.imgstruction {
  color: dodgerblue;
}

.header-i {
  color: dodgerblue;
}

.row {
  margin-right: 0px;
}

.string-name {
  margin-top: 0px;
}

.jumbo-greeting {
  background-image: url(https://res.cloudinary.com/dsaxhw9ii/image/upload/v1495416822/christopher-burns-2003211_pikrdl.jpg);
  background-size: cover;
  padding-top: 0px;
  margin-bottom: 0px;
}

.page-header {
  border-bottom: none;
  margin-top: 12px;
  margin-bottom: 15px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

// .header-button {
//   color: white;
// }

.header-link {
  color: white;
}

.header-link:hover{
  color:white;
}
